#dropzone{
    width: auto;
    height: 200px;
    color: rgb(0,0,0);
    border: 4px dashed #5bc0de;
    padding: 3rem;
    line-height: 140%;
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    display: none;
}
.rabin2_table{

}
.syscall_table{
}