<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Dateiupload mit Drag-and-Drop</title>
</head>
<body>
    <div id="dropzone">
        <span class="drop-text">Drop your Binary here or click for upload</span>
        <input type="file" id="input" multiple>
    </div>
    <div class="rabin2_table">
         <h1>Header:</h1>
        <table>
            <thead>
              <tr>
                <th>Binaryname</th>
                <th>Architektur</th>
                <th>Baseadresse</th>
                <th>Binarygröße</th>
                <th>Binaryformat</th>
                <th>Mode of Binary</th>
                <th>Stackcanary gesetzt</th>
                <th>is_stack_memory_protection</th>
                <th>Binaryklasse</th>
                <th>compiled</th>
                <th>Compiler</th>
                <th>verschlüsselt</th>
                <th>DBG Datei</th>
                <th>endian</th>
                <th>havecode</th>
                <th>guid</th>
                <th>interpreter</th>
                <th>load adress</th>
                <th>Programmiersprache</th>
                <th>linenum</th>
                <th>lsyms</th>
                <th>machine</th>
                <th>is_nx</th>
                <th>Betriebssystem</th>
                <th>cc</th>
                <th>is_pic</th>
                <th>relocs</th>
                <th>relro</th>
                <th>rpath</th>
                <th>is_sanitized</th>
                <th>is_static_linked</th>
                <th>is_stripped</th>
                <th>subsys</th>
                <th>is_va</th>
              </tr>
            </thead>
            <tbody>
              {%  if rabin2 %}
              {%  for rabin2 in rabin2 %}
              <tr>
                <td> {{ rabin2[0] }}</td>
                <td> {{ rabin2[1] }}</td>
                <td> {{ rabin2[2] }}</td>
                <td> {{ rabin2[3] }}</td>
                <td> {{ rabin2[4] }}</td>
                <td> {{ rabin2[5] }}</td>
                <td> {{ rabin2[6] }}</td>
                <td> {{ rabin2[7] }}</td>
                <td> {{ rabin2[8] }}</td>
                <td> {{ rabin2[9] }}</td>
                <td> {{ rabin2[10] }}</td>
                <td> {{ rabin2[11] }}</td>
                <td> {{ rabin2[12] }}</td>
                <td> {{ rabin2[13] }}</td>
                <td> {{ rabin2[14] }}</td>
                <td> {{ rabin2[15] }}</td>
                <td> {{ rabin2[16] }}</td>
                <td> {{ rabin2[17] }}</td>
                <td> {{ rabin2[18] }}</td>
                <td> {{ rabin2[19] }}</td>
                <td> {{ rabin2[20] }}</td>
                <td> {{ rabin2[21] }}</td>
                <td> {{ rabin2[22] }}</td>
                <td> {{ rabin2[23] }}</td>
                <td> {{ rabin2[24] }}</td>
                <td> {{ rabin2[25] }}</td>
                <td> {{ rabin2[26] }}</td>
                <td> {{ rabin2[27] }}</td>
                <td> {{ rabin2[28] }}</td>
                <td> {{ rabin2[29] }}</td>
                <td> {{ rabin2[30] }}</td>
                <td> {{ rabin2[31] }}</td>
                <td> {{ rabin2[32] }}</td>
                <td> {{ rabin2[33] }}</td>
              </tr>
              {%  endfor %}
              {%  endif %}
            </tbody>
        </table>
    </div>
    <div class="syscall_table">
        <h1>Syscalls:</h1>
        <table>
            <thead>
                <tr>
                    <th>Binary_ID</th>
                    <th>Systemcall</th>
                    <th>Arguments</th>
                    <th>Rückgabewert</th>
            </thead>
            <tbody>
              {%  if strace %}
              {%  for sys in strace %}
              <tr>
                <td> {{ sys[0] }}</td>
                <td> {{ sys[1] }}</td>
                <td> {{ sys[2] }}</td>
                <td> {{ sys[3] }}</td>
              </tr>
              {%  endfor %}
              {%  endif %}
            </tbody>
        </table>
    </div>
    <div class="strings_table">
        <h1>Zeichenketten:</h1>
        <table>
            <thead>
                <tr>
                    <th>Binary_ID</th>
                    <th>Zeichenkette</th>
            </thead>
            <tbody>
              {%  if strings %}
              {%  for string in strings %}
              <tr>
                <td> {{ string[0] }}</td>
                <td> {{ string[7] }}</td>
              </tr>
              {%  endfor %}
              {%  endif %}
            </tbody>
        </table>
    </div>
    <div class="lib_table">
        <h1>Libs:</h1>
        <table>
            <thead>
                <tr>
                    <th>Binary_ID</th>
                    <th>Libraryname</th>
            </thead>
            <tbody>
              {%  if libs %}
              {%  for lib in libs %}
              <tr>
                <td> {{ lib[0] }}</td>
                <td> {{ lib[1] }}</td>
              </tr>
              {%  endfor %}
              {%  endif %}
            </tbody>
        </table>
    </div>
    <div class="syscall_overview">

    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>